*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
*.iws
*.idb
*.sli

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
# Android Studio and Intellij
/*.iml
*.log
*.tmp
.idea/

# Proguard parameters
verify/

# Architecture components
*.jks

# Kotlin
.kotlin/

# JVM heap dumps
*.hprof
